* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: white; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  html, body {
  height: 100%;
  width: 100%;
}

#navbar {
    height:  60px;
    background-color: #212121;
    
}

button {
    background-color: orange;
}

#logo {
    color:  orange;
    font-size: 25px;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

.display {
    margin: 50px;
    color: #212121;
}

#content {
    margin: 50px;
    height: 600px;
    background-color: beige;
}

.box {
    height: 100px;
    width: 100px;
    /* background-color: orange; */
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}

.box1 {
    background-color: salmon;
    opacity: 0.5;
}

.box2 {
    background-color: aquamarine;
    opacity: 0.5;
}

.box3 {
    background-color: bisque;
    opacity: 0.5;
} 

footer {
    background-color: #212121;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}